{% load static%}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sebo Online</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'shop-homepage.css' %}" rel="stylesheet">

</head>
<body>
<!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Sebo Online</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Início
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <div class="dropdown">
                <button class="btn btn-transparent dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.username}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'generos' %}">Gêneros</a>
                  <a class="dropdown-item" href="{% url 'livros' user.id %}">Livros</a>
                  <a class="dropdown-item" href="{% url 'editar' user.id %}">Editar Dados</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            {% if not user.is_authenticated %}
            <a class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
          </li>         
        </ul>
      </div>
    </div>
  </nav>
    <div class="row">
      <div class="col-lg-12 px-5">
      <h3 class="mt-5">Cadastro:</h3>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="control-group form-group">
            <div class="controls">
              {{form.username.errors}}
              <label>Usuário: </label> 
              <p>{{form.username|add_class:"form-control"}}</p> 
              
            </div>
          </div>
          
          <div class="control-group form-group">
            <div class="controls">
              {{form.password1.errors}}
              <label>Senha: </label> 
              <p>{{form.password1|add_class:"form-control"}}</p> 
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
              {{form.password2.errors}}
              <label>Repetir Senha: </label>  
              <p>{{form.password2|add_class:"form-control"}}</p>
            </div>
          </div>
          
          <br />
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Salvar</button>
        </form>

      </div>
    </div>  
  

</body>
</html>