{% load static%}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sebo Online</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'shop-homepage.css' %}" rel="stylesheet">
</head>
<body>
<!-- Navigation -->


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Sebo Online</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Início
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-transparent dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.username}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'generos' user.id %}">Gêneros</a>
                  <a class="dropdown-item" href="{% url 'livros' user.id %}">Livros</a>
                  <a class="dropdown-item" href="{% url 'editar' user.id %}">Editar Dados</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                </div>
              </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registro' %}">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>                    
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
       		{% for livro in livro_lista %}
          	  <div class="col-lg-4 col-md-6 mb-4 mt-5">
                <div class="card h-100">             	
                  <a href="#"><img class="card-img-top" src="/media/{{livro.imagem}}" alt="" width="100%" height="auto"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">{{livro.nome}}</a>
                    </h4>
                    <h5>R${{livro.preco}}</h5>
                    <br />
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#livro-detalhes"data-nome="{{livro.nome}}" data-autor="{{livro.autor}}" data-generos="{% for genero in livro.generos.all %}{{genero}}{% if not forloop.last %}, {% endif %}{% endfor %}" data-preco="{{livro.preco}}" data-criador="{{livro.criador.username}}">Detalhes</button>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
          	  </div>
          {% empty %}
              <p>Nenhum livro cadastrado</p>
          {% endfor %}  
      </div>
    </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
  <div id='livro-detalhes' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span data="nome"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Nome: <span data="nome"></span> </p>
        <p>Autor: <span data="autor"></span> </p>
        <p>Gênero: <span data="generos"></span> </p>
        <p>Preço: R$ <span data="preco"></span></p>
        <p>Vendedor: <span data="criador"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'jquery.slim.min.js' %}"></script>
  <script src="{% static 'bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript">
    $(function(){
      $('#livro-detalhes').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Botão que acionou o modal
        var imagem = button.data('imagem')
        var nome = button.data('nome')
        var autor = button.data('autor')
        var generos = button.data('generos')
        var preco = button.data('preco')
        var criador = button.data('criador') 

        var modal = $(this)
        modal.find('span[data=imagem]').text(imagem)
        modal.find('span[data=nome]').text(nome)
        modal.find('span[data=autor]').text(autor)
        modal.find('span[data=generos]').text(generos)
        modal.find('span[data=preco]').text(preco)
        modal.find('span[data=criador]').text(criador)
      })
    })
  </script>
</body>
</html>